.contenedor__usuario {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-family: var(--font-principal);
}

.contenedor__usuario div{
    margin-left: 0.5rem;
}

.contenedor__usuario div > p{
    font-weight: bold;
}

.material-symbols-outlined {
    color: var(--fondo-secundario);
    font-size: 4rem;
}

/*Tarjetas*/

.contenedor__disponibilidad  {
    margin-top: 1rem;
    width: 100%;
    font-family: var(--font-principal);
}

.disponibilidad__titulo {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: var(--font-principal);
}

.contendor__informacion {
    margin-bottom: 1rem;
}

.contendor__informacion p:first-child {
    font-weight: bold;
}

.contenedor__tarjetas {
    width: 100%;
    display: flexbox;
    flex-direction: column;
    margin: auto;
}

.tarjeta {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--bordes);
    box-shadow: 0px 4px 10px rgba(95, 22, 0, 0.468);
    border-radius: 2rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.tarjeta:hover {
    transform: rotateY(-10rem);
}


.tarjeta li{
    list-style: none;
}

.info2 {
    text-align: right;
}

.boleto {
    font-weight: bold;
}


.precio {
    font-size: 1.5rem;
}

.moneda {
    color: blue;
    font-weight: bold;
    font-size: 0.8rem;
}

.boton{
    width: 100%;
    display: block;
    text-align: center;
    padding: 1rem;
    background: var(--fondo-secundario);
    color: white;
    text-decoration: none;
    border-radius: 1rem;
    font-family: var(--font-principal);
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}

.boton:hover{
    opacity: 0.9;
}


/*Check in*/
.boleto__checkin {
    font-weight: bold;
    font-size: 1.5rem;
}
/*Contenedor del formulario de datos de emergencia*/

.contenedor__formulario {
    align-items: center;
    margin-top: 2rem;
    padding: 0.5rem;
    border: 1px solid var(--bordes);
    box-shadow: 0px 4px 10px rgba(95, 22, 0, 0.468);
    border-radius: 2rem;
}

.contenedor__formulario h2{
    margin-top: 1rem;
    text-align: center;
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: normal;
}


/*Mis Vuelos*/
.estado {
    font-weight: bold;
    opacity: 50%;
}

.lugar {
    font-weight: bold;
    font-size: 0.7rem;
}

.informacion_vuelo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}