.contenedor__usuario {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-family: var(--font-principal);
}

.contenedor__usuario div{
    margin-left: 0.5rem;
}

.contenedor__usuario div > p{
    font-weight: bold;
}

.material-symbols-outlined {
    color: var(--fondo-secundario);
    font-size: 4rem;
}

